.card_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  border: solid 1px grey;
  border-radius: 8px;
  margin: 8px;
  padding-bottom: 8px;
  width: 180px;
  text-align: center;
}

.card_info img{
    border-radius: 8px;
}

.card_info_morebtn a{
  padding: 8px;
  color: white;
  font-weight: bold;
  border: none;
  min-width: 80px;
  max-width: 120px;
  border-radius: 4px;
  text-decoration: none;
}
